<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.drpeng.sec.dao.ISecOrganizeDAO" >

  <sql id="Base_Column_List" >
    ORGANIZE_ID, ORGANIZE_NAME, CODE, PARENT_ORGANIZE_ID, ORG_ROLE_TYPE_ID, DISTRICT_ID, 
    SHORT_NAME, ENGLISH_NAME, EMAIL, PHONE_ID, FAX_ID, ORG_ADDRESS, CONTACT_NAME, CONTACT_CARD_TYPE, 
    CONTACT_CARD_ID, CONTACT_BILL_ID, ORG_LEVEL, IS_CHANNEL, NOTES, STATE, DONE_CODE, 
    CREATE_DATE, DONE_DATE, VALID_DATE, EXPIRE_DATE, OP_ID, ORG_ID
  </sql>
   <select id="organizeList" parameterType="com.drpeng.sec.common.PageData" resultType="com.drpeng.sec.common.PageData">
      SELECT

       <include refid="Base_Column_List" />

       FROM SEC_ORGANIZE WHERE 1=1
       <if test="ORGANIZE_NAME != null and ORGANIZE_NAME != '' ">
         AND ORGANIZE_NAME LIKE #{ORGANIZE_NAME}
       </if>
       <if test="PARENT_ORGANIZE_ID != null ">
         AND PARENT_ORGANIZE_ID = ${PARENT_ORGANIZE_ID}
       </if>
       <if test="startIndex != null and pageSize != null">
         LIMIT #{startIndex},#{pageSize}
       </if>
   </select>
</mapper>